<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <xacro:macro name="my_dual_robot_cell" params="
    parent
    *origin

    alice_ur_type
    alice_joint_limits_parameters_file
    alice_kinematics_parameters_file
    alice_physical_parameters_file
    alice_visual_parameters_file

    bob_ur_type
    bob_joint_limits_parameters_file
    bob_kinematics_parameters_file
    bob_physical_parameters_file
    bob_visual_parameters_file
    ">

    <joint name="mir_base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="mir" />
    </joint>

	<!--<link name="mir">-->
	<!--<visual>-->
	<!--<geometry>-->
	<!--<mesh filename="package://my_robot_cell_description/meshes/High_Res_Dual_Robot_Base.dae"/>-->
	<!--</geometry>-->
	<!--<origin rpy="1.570796 0 0" xyz="0 0 -0.70"/>-->
	<!--</visual>-->
	<!--<collision>-->
	<!--<geometry>-->
	<!--<mesh filename="package://my_robot_cell_description/meshes/High_Res_Dual_Robot_Base.dae"/>-->
	<!--</geometry>-->
	<!--<origin rpy="1.570796 0 0" xyz="0 0 -0.70"/>-->
	<!--</collision>-->
	<!--</link>-->
   
    <link name="mir">
      <visual>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/Low_Res_Dual_Robot_Base.dae"/>
        </geometry>
        <origin rpy="1.570796 0 1.570796" xyz="0.26 -0.4 -1.0"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/Low_Res_Dual_Robot_Base.dae"/>
        </geometry>
        <origin rpy="1.570796 0 1.570796" xyz="0.26 -0.4 -1.0"/>
      </collision>
    </link>
    <material name="white">
      <color rgba="1 1 1 1"/>
    </material>
	
    <joint name="table" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="world" />
      <child link="table" />
    </joint>

    <link name="table">
      <visual>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/fzi_table.dae"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0.75 0.5 -1"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/fzi_table.dae"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0.75 0.5 -1"/>
      </collision>
    </link>

    <!--Creates the mounts to attach the robots to the table-->
    <link name="alice_robot_mount"/>
    <joint name="base_to_alice_robot_mount" type="fixed">
      <parent link="mir"/>
      <child link="alice_robot_mount"/>
      <origin xyz="0 -0.33 -0.3" rpy="0 0 ${pi}" />
    </joint>
  
    <link name="bob_robot_mount"/>
    <joint name="base_to_bob_robot_mount" type="fixed">
      <parent link="mir"/>
      <child link="bob_robot_mount"/>
      <origin xyz="0 0.33 -0.3" rpy="0 0 ${pi}" />
    </joint>

    <!--Creates the 1st Robot-->
    <xacro:ur_robot
      name="alice"
      tf_prefix="alice_"
      parent="alice_robot_mount"
      joint_limits_parameters_file="${alice_joint_limits_parameters_file}"
      kinematics_parameters_file="${alice_kinematics_parameters_file}"
      physical_parameters_file="${alice_physical_parameters_file}"
      visual_parameters_file="${alice_visual_parameters_file}"
    >
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:ur_robot>
  
    <!--Creates the 2nd Robot-->
    <xacro:ur_robot
      name="bob"
      tf_prefix="bob_"
      parent="bob_robot_mount"
      joint_limits_parameters_file="${bob_joint_limits_parameters_file}"
      kinematics_parameters_file="${bob_kinematics_parameters_file}"
      physical_parameters_file="${bob_physical_parameters_file}"
      visual_parameters_file="${bob_visual_parameters_file}"
    >
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:ur_robot>

  </xacro:macro>

</robot>
